@page "/"
@inject NavigationManager _navigationManager
<AuthorizeView>
	<NotAuthorized>
		<h3 class="fw-bold">Welcome!!!</h3>
		<SurveyPrompt Title="Please login your account" />
	</NotAuthorized>
	<Authorized>
		<GroupGeneralPage />
	</Authorized>
</AuthorizeView>
@code {
}