.table-earnings {
    background: #F3F5F6;
}

table {
    display: block;
    height: 200px;
    overflow-y: auto;
}

.table-wrapper {
    max-height: 100px;
    overflow: auto;
    display: inline-block;
}
