<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-earnings table-earnings__challenge">
                <thead>
                    <tr>
                        <th>TITLE</th>
                        <th>DATE TAKEN</th>
                        <th>STATUS</th>
                        <th>AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Day 1</td>
                        <td>11/08/2016</td>
                        <td>
                            <img src="https://www.srx.com.sg/srx/home/images/tracker/icon_social_sms.png" alt="">
                        </td>
                        <td>$1.00</td>
                    </tr>
                    <tr>
                        <td>Day 1</td>
                        <td>11/08/2016</td>
                        <td>
                            <img src="https://www.srx.com.sg/srx/home/images/tracker/icon_social_sms.png" alt="">
                        </td>
                        <td>$1.00</td>
                    </tr>
                    <tr>
                        <td>Day 1</td>
                        <td>11/08/2016</td>
                        <td>
                            <img src="https://www.srx.com.sg/srx/home/images/tracker/icon_social_sms.png" alt="">
                        </td>
                        <td>$1.00</td>
                    </tr>
                    <tr>
                        <td>Day 1</td>
                        <td>11/08/2016</td>
                        <td>
                            <img src="https://www.srx.com.sg/srx/home/images/tracker/icon_social_sms.png" alt="">
                        </td>
                        <td>$1.00</td>
                    </tr>
                    <tr>
                        <td>Day 1</td>
                        <td>11/08/2016</td>
                        <td>
                            <img src="https://www.srx.com.sg/srx/home/images/tracker/icon_social_sms.png" alt="">
                        </td>
                        <td>$1.00</td>
                    </tr>
                    <tr>
                        <td>Day 1</td>
                        <td>11/08/2016</td>
                        <td>
                            <img src="https://www.srx.com.sg/srx/home/images/tracker/icon_social_sms.png" alt="">
                        </td>
                        <td>$1.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

}
