@page "/registration"
@layout EmptyLayout
@inject NavigationManager _navigationManager
@inject AuthenticationService _authSerivce
@using StepOrgApp.Models


<EditForm Model="RegisterModel" OnValidSubmit="RegisterUser" class="pt-4">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-success text-center py-2">
                            <strong>Sign Up</strong>
                        </h3>
                        @if (ShowRegistrationErrors)
                        {
                            <div>
                                @foreach (var error in Errors)
                                {
                                    <p class="text-danger text-center">@error</p>
                                }
                            </div>
                        }

                        <div class="py-2">
                            <InputText @bind-Value="RegisterModel.Name" class="form-control" placeholder="Name..." />
                            <ValidationMessage For="(()=>RegisterModel.Name)" />
                        </div>
                        <div class="py-2">
                            <InputText @bind-Value="RegisterModel.Email" type="text" class="form-control" placeholder="Email..." />
                            <ValidationMessage For="(()=>RegisterModel.Email)" />
                        </div>
                        <div class="form-row py-2">
                            <div class="col">
                                <InputText @bind-Value="RegisterModel.Password" type="password" id="password" placeholder="Password..." class="form-control" />
                                <ValidationMessage For="(()=>RegisterModel.Password)" />
                            </div>
                            <div class="col py-2">
                                <InputText @bind-Value="RegisterModel.ConfirmPassword" type="password" id="confirm" class="form-control" placeholder="Confirm Password..." />
                                <ValidationMessage For="(()=>RegisterModel.ConfirmPassword)" />
                            </div>
                        </div>
                        <hr style="background-color:aliceblue" />
                        <div class="py-2">
                            <button type="submit" class="btn btn-success btn-block"><i class="bi bi-person-plus-fill"></i> Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private RegisterModel RegisterModel = new();
    public bool IsProcessing { get; set; } = false;
    public bool ShowRegistrationErrors { get; set; }
    public IEnumerable<string> Errors { get; set; }

    private async Task RegisterUser()
    {
        ShowRegistrationErrors = false;
        IsProcessing = true;
        var result = await _authSerivce.RegisterUser(RegisterModel);
        if (result.IsRegisterationSuccessful)
        {
            //regiration is successful
            _navigationManager.NavigateTo("/login");
        }
        else
        {
            //failure
            Errors = result.Errors;
            ShowRegistrationErrors = true;

        }
        IsProcessing = false;
    }
}
