@inherits LayoutComponentBase
<AuthorizeView>
	<Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="sidebar">
            <NavMenuUnautorized />
        </div>
    </NotAuthorized>
</AuthorizeView>
<div class="main">
    @Body
</div>
