<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">REMART</a>
		<a class="btn btn-dark" href="/login">
			<span class="oi oi-account-login"></span> Login
		</a>
		<a class="btn btn-dark" href="/registration">
			<span class="oi oi-action-redo"></span> SignUp
		</a>
	</div>
</div>

@code {

}
