@inject NavigationManager _navigationManager
@attribute [Authorize]

@if (IsLoading)
{
	<p>Loading...</p>
}
else
{
<div class="top-row ps-1 navbar navbar-dark">
	<div class="container-fluid">
				<div class="">
					<img style="height: 37px; width: 37px;" class="float-start m-0 position-relative rounded-circle" src="@Avatar" />
				</div>
				<a class="navbar-brand fw-bold" href="">REMART</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="logout">
				<span class="oi oi-account-logout" aria-hidden="true"></span> Logout
			</NavLink>
		</div>
	</nav>
</div>
}
@code {
	private LoginModelResponse userDetails { get; set; }
	private string Avatar { get; set; }
	private bool collapseNavMenu = true;
	private bool IsLoading { get; set; } = false;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	protected async override Task OnInitializedAsync()
	{
		IsLoading = true;
		Avatar = await SecureStorage.GetAsync(SD.ProfilePicture);
		if (string.IsNullOrEmpty(Avatar))
		{
			Avatar = "images/avatar.png";
		}
		IsLoading = false;
	}
}
